@import "tailwindcss";


body,html{
    overflow: hidden;
}

img, .game-image {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none;
    user-drag: none;
}