@import "tailwindcss";

.rotate-warning {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1a1a1a;
    color: #ffffff;
    z-index: 999999;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

/* Показываем заглушку ТОЛЬКО в ландшафтном (горизонтальном) режиме на мобильных */
@media screen and (orientation: landscape) and (max-height: 600px) {
    #rotate-warning {
        display: flex;
    }
}
body,html{
    overflow: hidden;
    overscroll-behavior: none;
}
/* Полный запрет выделения текста и элементов на странице */
body {
    -webkit-user-select: none;   /* Safari / iOS Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer / Edge */
    user-select: none;           /* Стандартный синтаксис */
    -webkit-touch-callout: none; /* Отключение всплывающего меню на iOS при долгом таппе */
}
img, .game-image {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none;
    user-drag: none;
}


.food-item,
.shower-item,
.foam-item {
    touch-action: none;          /* самое важное */
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}