@import "tailwindcss";
img {
    transition: opacity 0.2s ease-in-out;
}
/* 1. По умолчанию скрываем заглушку для ВСЕХ экранов */
.rotate-warning {
    display: none;
}

/* 2. Показываем ТОЛЬКО если ширина экрана больше высоты (альбомная ориентация)
      и это мобильное устройство/планшет (высота не больше 700px) */
@media screen and (orientation: landscape) and (max-height: 700px) {
    .rotate-warning {
        display: flex !important; /* !important перебьет стандартный display: none */
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #111111;
        color: #ffffff;
        z-index: 999999;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: sans-serif;
        padding: 20px;
        box-sizing: border-box;
    }
}
body,html{
    overflow: hidden;
    overscroll-behavior: none;
}
/* Полный запрет выделения текста и элементов на странице */
body {
    -webkit-user-select: none;   /* Safari / iOS Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer / Edge */
    user-select: none;           /* Стандартный синтаксис */
    -webkit-touch-callout: none; /* Отключение всплывающего меню на iOS при долгом таппе */
}
img, .game-image {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: none;
    user-drag: none;
}


.food-item,
.shower-item,
.foam-item {
    touch-action: none;          /* самое важное */
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}